### Solucao Desafio Par Perfeito:
    Autor: Sergio Laranjeira

### questao 1: Escrever as respectivas queries

"""
1)

SELECT COUNT(*)
FROM TABELA CLIENTES
WHERE SEXO = 'F';


SELECT COUNT(*)
FROM TABELA CLIENTES
WHERE SEXO = 'M';
"""

"""
2)

SELECT COUNT(*) AS Qtd
FROM TABELA CLIENTES 
WHERE Idade BETWEEN 18 AND 20 AS ´18-20´
    AND Idade BETWEEN 21 AND 23 AS  ´21-23´
    ELSE ´24-27´
"""

"""
3)
WITH Tabela Winks AS (
         SELECT 
             IDWink,
             IDClienteE
         FROM
             Tabela Winks
), AS TabWinks
     Tabela Clientes AS (
         SELECT 
             IDCliente,
             Plano
         FROM
             Tabela Clientes
     ), 
        SELECT COUNT(Plano)
        FROM
           Tabela Winks AS TW
        JOIN
           Tabela Clientes AS TC
        ON
           TW.IDWink = TC.IDCliente


"""

### questao 2: 

#### Fazer uma analise explicando para as áreas de MKT / Produto, como está o resultado de 2019, isto é, onde estamos   mandando e o que está ruim e o que você acha que precisamos fazer para melhorar.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
file = 'Dados.CSV'
df = pd.read_csv(file)
df.head()

    AnoMes Plataforma   Canal   Regs  Fts1d  Entrada  Saida  Custo   Receita
0  2019-01    Desktop  Direct  10000    150      315  472.5  15000  42525.00
1  2019-02    Desktop  Direct   9000    135      284  426.0  15000  38272.50
2  2019-03    Desktop  Direct   8100    122      255  382.5  15000  34445.25
3  2019-04    Desktop  Direct   7290    109      230  345.0  15000  31000.73
4  2019-05    Desktop  Direct   6561     98      207  310.5  15000  27900.65

In [3]:
df.shape

(30, 9)

In [4]:
df.describe()

,Regs,Fts1d,Entrada,Saida,Custo,Receita
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,24768.166667,145.833333,306.233333,322.966667,42306.700000,41332.939333
std,17058.825670,96.733934,203.033832,163.028390,19399.331384,27415.154592
min,6561.000000,50.000000,105.000000,84.000000,15000.000000,14150.190000
25%,11550.000000,77.000000,161.750000,164.250000,20000.000000,21794.062500
50%,18100.000000,122.000000,256.000000,327.750000,47715.000000,34541.065000
75%,37431.250000,151.500000,318.000000,446.575000,56121.500000,42968.857500
max,69960.000000,397.000000,833.000000,666.400000,79740.000000,112478.630000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
AnoMes        30 non-null object
Plataforma    30 non-null object
Canal         30 non-null object
Regs          30 non-null int64
Fts1d         30 non-null int64
Entrada       30 non-null int64
Saida         30 non-null float64
Custo         30 non-null int64
Receita       30 non-null float64
dtypes: float64(2), int64(4), object(3)
memory usage: 2.2+ KB

#### O resultado da empresa no exercicio pode ser calculado como a soma das receitas menos a soma das despesas

In [6]:
# Receitas mensais
df1 = df.groupby(df.AnoMes).Receita.sum()
df1

AnoMes
2019-01    287043.75
2019-02    306180.00
2019-03    312027.20
2019-04    166944.30
2019-05    167792.93
Name: Receita, dtype: float64

In [7]:
# Despesas mensais
df2 = df.groupby(df.AnoMes).Custo.sum()
df2

AnoMes
2019-01    256558
2019-02    270160
2019-03    234289
2019-04    264093
2019-05    244101
Name: Custo, dtype: int64

In [8]:
resultado = df.Receita.sum() - df.Custo.sum()
resultado

-29212.820000000065

### Por plataforma

In [9]:
#Desktop

In [10]:
df_Desktop = df[df.Plataforma == 'Desktop']

In [11]:
df_Desktop2 = df_Desktop.groupby(df_Desktop.AnoMes).Receita.sum()
df_Desktop2.sum()

450910.92

In [12]:
df_Desktop3 = df_Desktop.groupby(df_Desktop.AnoMes).Custo.sum()
df_Desktop3.sum()

636648

In [13]:
resultado_Desktop = df_Desktop2.sum() - df_Desktop3.sum()
resultado_Desktop

-185737.08000000002

In [14]:
#Mobile

In [15]:
df_Android = df[df.Plataforma == 'Android']

In [16]:
df_Android2 = df_Android.groupby(df_Android.AnoMes).Receita.sum()
df_Android2.sum()

789077.26

In [17]:
df_Android3 = df_Android.groupby(df_Android.AnoMes).Custo.sum()
df_Android3.sum()

632553

In [18]:
resultado_Android = df_Android2.sum() - df_Android3.sum()
resultado_Android

156524.26

### Por Canal: sendo clique espontaneo vs Ad

In [19]:
# Ad

In [20]:
df_Ad = df[df.Canal != 'Direct']

In [21]:
df_Ad1 = df_Ad.groupby(df_Ad.AnoMes).Receita.sum()
df_Ad1

AnoMes
2019-01    223256.25
2019-02    244518.75
2019-03    251854.32
2019-04    121793.38
2019-05    124327.07
Name: Receita, dtype: float64

In [22]:
df_Ad2 = df_Ad.groupby(df_Ad.AnoMes).Custo.sum()
df_Ad2

AnoMes
2019-01    221558
2019-02    235160
2019-03    199289
2019-04    229093
2019-05    209101
Name: Custo, dtype: int64

In [23]:
resultado_Ad = df_Ad1.sum() - df_Ad2.sum()
resultado_Ad

-128451.22999999998

In [24]:
# Clique espontaneo

In [25]:
df_espontaneo = df[df.Canal == 'Direct']

In [26]:
df_espontaneo1 = df_espontaneo.groupby(df_espontaneo.AnoMes).Receita.sum()
df_espontaneo1

AnoMes
2019-01    63787.50
2019-02    61661.25
2019-03    60172.88
2019-04    45150.92
2019-05    43465.86
Name: Receita, dtype: float64

In [27]:
df_espontaneo2 = df_espontaneo.groupby(df_espontaneo.AnoMes).Custo.sum()
df_espontaneo2

AnoMes
2019-01    35000
2019-02    35000
2019-03    35000
2019-04    35000
2019-05    35000
Name: Custo, dtype: int64

In [28]:
resultado_espontaneo = df_espontaneo1.sum() - df_espontaneo2.sum()
resultado_espontaneo

99238.40999999997

Resultado do exercicio: Negativo em R$ 29.212,82

Os custos superam as receitas, em especial os meses de fevereiro e marco apresentam maior receita, abril apresenta queda, que se mantem aproximadamente constante frente ao mes de maio. 

Na analise por plataforma, desktop vem apresentando prejuizo enquanto mobile vem apresentando receita positiva. Isto indica que o perfil do cliente tende a ser mais lucrativo pra empresa se usuario mobile.

Na analise por canal, cliente oriundo de Ad apresenta prejuizo enquanto cliente fruto de clique espontaneo apresenta bom resultado.

O que faz sugerir foco maior de ambas as areas de MKT e Prod ao atrair e converter clientes Desktop com clique fruto de Advertiser (especialmente durante os meses abril e maio) atraves de divulgacao pelos canais apropriados (se possivel os mais diversificados possiveis), pois clientes mobile com clique espontaneo ja apresentam bom resultado.